schemas/ReglementPLU.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://cnig.gouv.fr/reglementDU">
	<xs:element name="ReglementPLU" type="ReglementPLU"/>
	<xs:complexType name="ReglementPLU">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lien" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="nom" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="idUrba" type="DOC_URBA" minOccurs="1" maxOccurs="1"/>
			<xs:element name="typeDoc" type="DOC_URBA" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Titre" type="Titre" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Contenu" type="Contenu"/>
	<xs:complexType name="Contenu">
		<xs:sequence>
			<xs:element name="href" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Html" type="Html" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="idPrescription" type="PRESCRIPTION" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="idZone" type="ZONE_URBA" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Html" type="Html"/>
	<xs:complexType name="Html">
		<xs:sequence/>
	</xs:complexType>	
	<xs:element name="PRESCRIPTION" type="PRESCRIPTION"/>
	<xs:complexType name="PRESCRIPTION">
		<xs:sequence>
			<xs:element name="DATVALID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IDURBA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LIBELLE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NATURE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="STYPEPSC" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="the_geom" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPEPSC" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZONE_URBA" type="ZONE_URBA"/>
	<xs:complexType name="ZONE_URBA">
		<xs:sequence>
			<xs:element name="DATVALID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IDURBA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LIBELLE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="the_geom" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPEZONE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LIBELLONG" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DOC_URBA_COM" type="DOC_URBA_COM"/>
	<xs:complexType name="DOC_URBA_COM">
		<xs:sequence>
			<xs:element name="INSEE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="IDURBA" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		<xs:element name="DOC_URBA" type="DOC_URBA"/>
	<xs:complexType name="DOC_URBA">
		<xs:sequence>
			<xs:element name="IDURBA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ETAT" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOMPROC" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TYPEDOC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SIREN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NOMREG" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URLREG" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NOMPLAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URLPLAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URLPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SITEWEB" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPEREF" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATAPPRO" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATEFIN" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATEREF" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Titre" type="Titre"/>
	<xs:complexType name="Titre">
		<xs:sequence>
			<xs:element name="href" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="intitule" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="niveau" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numero" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Contenu" type="Contenu" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="inseeCommune" type="DOC_URBA_COM" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="idPrescription" type="PRESCRIPTION" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Titre" type="Titre" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="idZone" type="ZONE_URBA" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>		
    </xs:complexType>		