schemas/ReglementPLU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 15.2.1560 ( Build: 1560 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="MonNamespace" xmlns:ns="MonNamespace" version="1.0" xmlns:gml="http://www.opengis.net/gml/3.2">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<gml:gmlProfileSchema>https://monschemaamoi.com</gml:gmlProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Contenu" type="ns:ContenuType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="ContenuType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="idZone" type="ns:ZONE_URBAPropertyType"/>
					<xs:element name="idPrescription" type="ns:Standard CNIG PLU::PRESCRIPTIONPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="id">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="URI"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="href" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContenuPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:Contenu"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Html" type="ns:HtmlType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="HtmlType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractObjectType">
				<xs:choice/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HtmlPropertyType">
		<xs:sequence>
			<xs:element ref="ns:Html"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="PerimetreListeType">
		<xs:union memberTypes="ns:PerimetreListeEnumerationType ns:PerimetreListeOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="PerimetreListeEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="intercommunal"/>
			<xs:enumeration value="commune"/>
			<xs:enumeration value="specificZone"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PerimetreListeOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ReglementPLU" type="ns:ReglementPLUType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="ReglementPLUType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="idUrba" type="ns:DOC_URBAPropertyType"/>
					<xs:element name="typeDoc" type="ns:DOC_URBAPropertyType"/>
					<xs:element name="id">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="URI"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="lien" type="xs:string"/>
					<xs:element name="nom" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReglementPLUPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:ReglementPLU"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Standard CNIG PLU::PRESCRIPTION" type="ns:Standard CNIG PLU::PRESCRIPTIONType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="Standard CNIG PLU::PRESCRIPTIONType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="point, line,curve"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="TXT" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="TYPEPSC">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="STYPEPSC">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NOMFIC" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="URLFIC" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="IDURBA">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DATVALID" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NATURE" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Standard CNIG PLU::PRESCRIPTIONPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:Standard CNIG PLU::PRESCRIPTION"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Titre" type="ns:TitreType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="TitreType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="idZone" type="ns:ZONE_URBAPropertyType"/>
					<xs:element name="inseeCommune" type="ns:DOC_URBA_COMPropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Contenu" type="ns:ContenuPropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="idPrescription" type="ns:Standard CNIG PLU::PRESCRIPTIONPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="id">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="URI"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="intitule" type="xs:string"/>
					<xs:element name="numero" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="niveau" type="xs:integer"/>
					<xs:element name="href">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="URI"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TitrePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:Titre"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="titreListeType">
		<xs:union memberTypes="ns:titreListeEnumerationType ns:titreListeOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="titreListeEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="section"/>
			<xs:enumeration value="chapitre"/>
			<xs:enumeration value="prescription"/>
			<xs:enumeration value="titre"/>
			<xs:enumeration value="article"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="titreListeOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DOC_URBA" type="ns:DOC_URBAType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="DOC_URBAType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="IDURBA" type="xs:string"/>
					<xs:element name="DATAPPRO" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATEFIN" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SIREN" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NOMREG" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLREG" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NOMPLAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLPLAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SITEWEB" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEREF" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATEREF" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEDOC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ETAT" type="xs:string" nillable="true"/>
					<xs:element name="URLPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NOMPROC" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DOC_URBAPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:DOC_URBA"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="DOC_URBA_COM" type="ns:DOC_URBA_COMType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="DOC_URBA_COMType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="IDURBA" type="xs:string"/>
					<xs:element name="INSEE">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DOC_URBA_COMPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:DOC_URBA_COM"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="HABILLAGE_LIN" type="ns:HABILLAGE_LINType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="HABILLAGE_LINType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom" minOccurs="0" maxOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiCurvePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NATTRAC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HABILLAGE_LINPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:HABILLAGE_LIN"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="HABILLAGE_PCT" type="ns:HABILLAGE_PCTType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="HABILLAGE_PCTType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom" minOccurs="0" maxOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:PointPropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NATTRAC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HABILLAGE_PCTPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:HABILLAGE_PCT"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="HABILLAGE_SURF" type="ns:HABILLAGE_SURFType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="HABILLAGE_SURFType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom" minOccurs="0" maxOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiSurfacePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NATTRAC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HABILLAGE_SURFPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:HABILLAGE_SURF"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="HABILLAGE_TXT" type="ns:HABILLAGE_TXTType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="HABILLAGE_TXTType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom" minOccurs="0" maxOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:PointPropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="NATECR" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HABILLAGE_TXTPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:HABILLAGE_TXT"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="INFO_LIN" type="ns:INFO_LINType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="INFO_LINType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiCurvePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEINF" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="INFO_LINPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:INFO_LIN"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="INFO_PCT" type="ns:INFO_PCTType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="INFO_PCTType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:PointPropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEINF" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="INFO_PCTPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:INFO_PCT"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="INFO_SURF" type="ns:INFO_SURFType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="INFO_SURFType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiSurfacePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEINF" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="INFO_SURFPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:INFO_SURF"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PRESCRIPTION_LIN" type="ns:PRESCRIPTION_LINType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PRESCRIPTION_LINType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiCurvePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEPSC" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATAPPRO" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATVALID" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESCRIPTION_LINPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:PRESCRIPTION_LIN"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PRESCRIPTION_PCT" type="ns:PRESCRIPTION_PCTType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PRESCRIPTION_PCTType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:PointPropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEPSC" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATAPPRO" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATVALID" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESCRIPTION_PCTPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:PRESCRIPTION_PCT"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PRESCRIPTION_SURF" type="ns:PRESCRIPTION_SURFType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="PRESCRIPTION_SURFType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiSurfacePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="TXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEPSC" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="INSEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATAPPRO" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATVALID" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRESCRIPTION_SURFPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:PRESCRIPTION_SURF"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ZONE_URBA" type="ns:ZONE_URBAType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="ZONE_URBAType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="the_geom">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:MultiSurfacePropertyType"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LIBELLE" type="xs:string"/>
					<xs:element name="LIBELONG" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TYPEZONE" type="xs:string"/>
					<xs:element name="NOMFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="URLFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DATVALID" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IDURBA" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZONE_URBAPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns:ZONE_URBA"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
